<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base_layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>HASH 결과</title>
</head>
<div layout:fragment="contents" class="container my-3">
  <div class="my-3 border-bottom">
    <div>
      <h4>MD5 해시 결과 포하항</h4>
    </div>
  </div>
  <p>입력 값의 MD5 해시 결과는 다음과 같습니다:</p>
  <pre th:text="${result}"></pre>
</div>
</html>